*~
#~

fftw*
hdf5*
gcc*
xz*

*.exe
*.defs
fort.*
*.out

*.pyc
*.pkl
*.npy

lib/
build/
include/
staging/
src/pf_version.f90
/.project

test/*/build
test/*/include
test/*/output
test/output
latex
html
*.dat
final_solution
*.gif
.pytest_cache
/TAGS
*.ipynb_checkpoints
