version: 2
jobs:
    build:
        docker:
            - image: brandonkrull/libpfasst
        steps:
            - checkout
            - run:
                name: env_links
                command: cd test && ln -s ../pf && cd magpicard && ln -s ../../pf && cd ../imk && ln -s ../../pf && cd ../..
            - run: # Modify the commands below to build your repository.
                name: make_and_test
                command: OMP=y make && cd test/magpicard && OMP=y make  && cd ../imk && OMP=y make  && cd ../1d/adv_diff_fft && make && cd ../.. && pytest
